@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  --fs-12: 12px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-70: 70px;
}

.fs_12 {
  font-size: var(--fs-12);
}

.fs_16 {
  font-size: var(--fs-16);
}

.fs_18 {
  font-size: var(--fs-18);
}

.fs_20 {
  font-size: var(--fs-20);
}

.fs_24 {
  font-size: var(--fs-24);
}

.fs_32 {
  font-size: var(--fs-32);
}

.fs_70 {
  font-size: var(--fs-70);
}

.ff_grandlander {
  font-family: 'Grandstander';
}